# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/**
.vscode/**
.cache
doc/doc.synctex.gz
doc/doc.pdf
doc/doc.run.xml
doc/doc.blg
doc/doc.aux
doc/doc.bbl
doc/doc.bcf
doc/doc.log
doc/doc.idx
